Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Android/

Build/Android_ASTC/

Build/Android_ASTCClient/

Build/Android_ATC/

Build/Android_ATCClient/

Build/Android_DXT/

Build/Android_DXTClient/

Build/Android_ETC1/

Build/Android_ETC1a/

Build/Android_ETC1aClient/

Build/Android_ETC1Client/
